@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.root {
    -fx-background-color: #00331a;
    -fx-font-family: "VT323";
    -fx-text-fill: #eee;
}

.label {
    -fx-font-size: 15;
    -fx-text-fill: #eee;
}

.text-field {
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-background-color: white;
}

#aM1 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 3;
}

#aM2 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM3 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM4 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 1.5 1.5;
}

#aM5 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM6 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM7 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;;
}

#aM8 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 3 3 1.5;
}

#aM11 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1.5 3 3 3;
}

#settlementsALabel {
    -fx-text-fill: black;
}

#cityMasterLabel {
    -fx-text-fill: black;
}

#roadMasterLabel {
    -fx-text-fill: black;
}

#workaholicLabel {
    -fx-text-fill: black;
}

#longestRoadLabel {
    -fx-text-fill: black;
}

#marcoPolo {
    -fx-text-fill: black;
}

#winnerLabel {
    -fx-text-fill: black;
}

#capitalistLabel {
    -fx-text-fill: black;
}

.tooltip {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-background-color: #97d077
}

#rankingPointsLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
}

#playerLabel2 {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
}

#msgSpectatorLabel {
    -fx-text-fill: gray;
}

#spectatorText {
    -fx-font-size: 11;
}

#passwordErrorLabel {
    -fx-font-size: 11;
}

#usernameErrorLabel {
    -fx-font-size: 11;
}

#gameNameLabel {
    -fx-font-size: 30;
    -fx-background-radius: 8px;
    -fx-text-fill: #eee;
}

.button {
    -fx-background-color: #97d077;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #aee58f;
}

.scroll-bar {
    -fx-background-color: #97d077;
    -fx-background-radius: 15px;
}

.list-view > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: #333333;
    -fx-background-radius: 8px;
}

.list-cell {
    -fx-background-color: #333333;
}

.list-cell:selected {
    -fx-background-color: #333333;
    -fx-background-radius: 8 8 8 8;
}

.game-list {
    -fx-font-size: 11px;
}

.list-view .corner {
    -fx-background-color: transparent;
}

.text {
    -fx-text-fill: #eee;
}

.check-box {
    -fx-text-fill: #eee;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: #333333;
    -fx-background-radius: 0 0 8 8;
}

.tab-pane {
    -fx-background-color: #333333;
    -fx-background-radius: 8px;
}

.tab-header-background {
    -fx-background-color: #97d077;
    -fx-background-radius: 8 8 0 0;
}

.scroll-bar {
    -fx-background-color: #97d077;
    -fx-background-radius: 15px;
    -fx-progress-color: #c4c4c4;
}

.tab {
    -fx-background-color: #333333;
    -fx-text-base-color: #eee;
    -fx-background-radius: 8 8 0 0;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: rgba(0, 255, 72, 0.21);
    -fx-text-base-color: #eee;
}

#chatpane {
    -fx-background-color: #333333;
    -fx-background-radius: 0 0 8 8;
    -fx-border-color: transparent;
}

.titled-pane > .title {
    -fx-background-color: #97d077;
    -fx-background-radius: 8 8 0 0;
}

.titled-pane {
    -fx-text-fill: #ffffff;
}

.titled-pane > *.content {
    -fx-background-radius: 0 0 8 8;
    -fx-background-color: #333333;
    -fx-border-radius: 0 0 8 8;
    -fx-text-fill: #111;
    -fx-border-color: transparent;
}

.combo-box-base {
    -fx-background-color: #97d077;
}

.build-menu {
    -fx-background-color: #333333;
}

.drop-menu {
    -fx-background-color: #333333;
}

.trade-menu {
    -fx-background-color: #333333;
}

#ingamePane {
    -fx-background-color: #00331a;
}

#soundSliderLabelLeft {
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

#soundSliderLabelRight {
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

#soundSliderLabelTop {
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

#changeWindowVBox {
    -fx-background-color: #333333;
    -fx-background-radius: 8px;
}

#paneOption {
    -fx-background-color: #333333;
    -fx-border-color: #97d077;
    -fx-border-width: 5;;
    -fx-text-fill: black;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #97d077;
}

#loginLabel {
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

#hintLabel {
    -fx-font-size: 12;
}

#mapsize.titled-pane {
    -fx-text-fill: black;
    -fx-background-color: white
}

#createGame {
    -fx-font-size: 32;
}

#usernameInput, #passwordInput, #gameNameInput, #messageTextField, #chatTextField, #gamePasswordInput,
#gamePasswordText, #textfieldUsername, #textfieldPassword, #textfieldPassword_show {
    -fx-font-family: "VT323";
    -fx-background-color: #333333;
    -fx-text-fill: white;
}

#register {
    -fx-font-size: 32;
    -fx-text-fill: white;
}
#gridPane{
    -fx-background-color: #333333;
}






