
.root {
    -fx-background-color: rgba(0, 130, 141, 0.21);
}

.label {
    -fx-font-size: 14;

}

.text-field {
    -fx-font-size: 14;
    -fx-background-radius: 8px;
}

.button {
    -fx-background-color: #00496c;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15px;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #005f91;
}

.scroll-bar {
    -fx-background-color: #00496c;
    -fx-background-radius: 15px;
}

.tab-pane {
    -fx-background-radius: 8px;
    -fx-background-color: #FFFFFF;
}



.list-view > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-radius: 8px;
    -fx-background-color: #ffffff;
}

.list-view .corner {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}

.list-cell:selected {
    -fx-background-radius: 8px;
    -fx-background-color: rgb(208, 208, 208);
}

.game-list {
    -fx-font-size: 11px;
}

.tab {
    -fx-background-color: rgb(147, 147, 147);
    -fx-background-radius: 8 8 0 0;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #ffffff;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 8 8;
}

.tab-header-background {
    -fx-background-color: #00496c;
    -fx-background-radius: 8 8 0 0;

}

#chatpane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 8 8;
    -fx-border-color: transparent;
}

.titled-pane > .title {
    -fx-background-color: #00496c;
    -fx-background-radius: 8 8 0 0;
}

.titled-pane {
    -fx-text-fill: #ffffff;
}

.titled-pane > *.content {
    -fx-background-radius: 0 0 8 8;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0 0 8 8;
    -fx-text-fill: #111;
    -fx-border-color: transparent;
}





