@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.root {
    -fx-font-family: "VT323";
    -fx-background-color: rgb(213, 232, 212);
}

.label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#playerLabel2 {
    -fx-font-size: 24;
}

#achievementsLabel {
    -fx-font-size: 20;
}

#rankingPointsLabel {
    -fx-text-fill: #006600;
    -fx-font-size: 24;
}

.text-field {
    -fx-font-size: 14;
}

#spectatorText {
    -fx-font-size: 11;
    -fx-background-radius: 8px;
}

#aM1 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 3;
}

#aM2 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM3 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM4 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 1.5 1.5;
}

#aM5 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM6 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;
}

#aM7 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 1.5 3 1.5;;

}

#aM8 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 3 3 3 1.5;

}

#aM11 {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1.5 3 3 3;
}

#msgSpectatorLabel {
    -fx-text-fill: gray;
}

#gameNameLabel {
    -fx-font-size: 30;
   -fx-text-fill: black;
}

#passwordErrorLabel {
    -fx-font-size: 11;
}

#usernameErrorLabel {
    -fx-font-size: 11;
}
.button {
    -fx-background-color: #006600;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #3fbd3f;
}

.scroll-bar {
    -fx-background-color: #006600;
    -fx-background-radius: 15px;
}

.tab-pane {
    -fx-background-radius: 8px;
    -fx-background-color: #FFFFFF;
}

.list-view > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-radius: 8px;
    -fx-background-color: #ffffff;
}

.list-view .corner {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}

.list-cell:selected {
    -fx-background-radius: 8px;
    -fx-background-color: rgb(208, 208, 208);
}

.game-list {
    -fx-font-size: 11px;
}

.tab {
    -fx-background-color: rgb(147, 147, 147);
    -fx-background-radius: 8 8 0 0;
    -fx-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #ffffff;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.scroll-pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 8 8;
}

.tab-header-background {
    -fx-background-color: #006600;
    -fx-background-radius: 8 8 0 0;
}

#chatpane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 8 8;
    -fx-border-color: transparent;
}

.titled-pane > .title {
    -fx-background-color: #006600;
    -fx-background-radius: 8 8 0 0;
}

.titled-pane {
    -fx-text-fill: #ffffff;
}

.titled-pane > *.content {
    -fx-background-radius: 0 0 8 8;
    -fx-background-color: #ffffff;
    -fx-border-radius: 0 0 8 8;
    -fx-text-fill: #111;
    -fx-border-color: transparent;
}

.combo-box {
    -fx-background-color: #006600;
}

.build-menu {
    -fx-background-color: #f0f0f0;
}

.drop-menu {
    -fx-background-color: #f0f0f0;
}

#changeWindowVBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #006600;
}

#paneOption {
    -fx-background-color: #ffffff;
    -fx-border-color: #006600;
    -fx-border-width: 5;
}

.tooltip {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-background-color: #006600
}

#loginLabel {
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

#usernameInput, #textfieldUsername, #textfieldPassword_show {
    -fx-font-family: "VT323";
}

#hintLabel {
    -fx-font-size: 12;
}

#createGame {
    -fx-font-size: 32;
}

#register {
    -fx-font-size: 32;
}



