

.root {
    -fx-background-color: rgba(0, 130, 141, 0.21);
}

.label {
    -fx-font-size: 14;

}

.text-field {
    -fx-font-size: 14;
    -fx-background-radius: 8px;
}

.button {
    -fx-background-color: #00496c;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15px;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #005f91;
}

.scroll-bar {
    -fx-background-color: #00496c;
    -fx-background-radius: 15px;
}




.tab-pane {
    -fx-background-radius: 8px;
    -fx-background-color: #00496c;
}

.list-view {
    -fx-background-radius: 8px;
}

.tab {
    -fx-background-color: rgba(0, 130, 141, 0.21);
    -fx-text-fill: #eee;
}

.vbox.chat {
    -fx-background-color: #00496c;
}





